In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import quandl

In [19]:
quandl.ApiConfig.api_key = 'tXGNpsdpPcV7G1AJbzkk'

In [20]:
data = quandl.get('BP/C02_EMMISSIONS_LKA')

In [22]:
data.head()

               Value
Date
1965-12-31  1.455060
1966-12-31  1.490169
1967-12-31  1.526254
1968-12-31  1.562765
1969-12-31  1.598968

In [15]:
clean = data.reset_index('Date')
table = clean.pivot(columns='Value')

In [23]:
clean.head()

        Date     Value
0 1965-12-31  1.455060
1 1966-12-31  1.490169
2 1967-12-31  1.526254
3 1968-12-31  1.562765
4 1969-12-31  1.598968

In [24]:
print(clean)

         Date      Value
0  1965-12-31   1.455060
1  1966-12-31   1.490169
2  1967-12-31   1.526254
3  1968-12-31   1.562765
4  1969-12-31   1.598968
5  1970-12-31   3.093259
6  1971-12-31   2.866766
7  1972-12-31   3.065717
8  1973-12-31   3.210111
9  1974-12-31   2.547031
10 1975-12-31   2.459419
11 1976-12-31   2.426898
12 1977-12-31   2.590699
13 1978-12-31   3.022125
14 1979-12-31   3.116052
15 1980-12-31   3.194978
16 1981-12-31   3.763688
17 1982-12-31   4.275946
18 1983-12-31   4.667956
19 1984-12-31   3.963701
20 1985-12-31   3.574751
21 1986-12-31   3.491199
22 1987-12-31   4.028260
23 1988-12-31   3.891824
24 1989-12-31   3.671615
25 1990-12-31   3.917121
26 1991-12-31   4.146683
27 1992-12-31   4.921080
28 1993-12-31   4.728382
29 1994-12-31   5.237526
30 1995-12-31   5.688445
31 1996-12-31   6.990671
32 1997-12-31   7.638660
33 1998-12-31   8.130929
34 1999-12-31   8.885893
35 2000-12-31  10.567441
36 2001-12-31  10.430147
37 2002-12-31  11.075163
38 2003-12-31  11.149433
39 2004-12-31  10.903799
40 2005-12-31  12.561952
41 2006-12-31  12.996898
42 2007-12-31  13.813939
43 2008-12-31  12.575279
44 2009-12-31  13.234188
45 2010-12-31  13.147079
46 2011-12-31  14.823528
47 2012-12-31  16.115513
48 2013-12-31  13.954333
49 2014-12-31  14.229928
50 2015-12-31  17.872873
51 2016-12-31  20.248585
52 2017-12-31  21.707177
53 2018-12-31  20.598847

In [27]:
file = open('EnergyData.txt','a')
fie.write(str(clean))
file.close

NameError: name 'fie' is not defined